/* sötét kék: rgb(57, 139, 221) */

* {
    color: rgb(57, 139, 221);
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}

header {
    margin-top: 2%;
    text-align: center;
    border-bottom: 3px solid rgb(57, 139, 221);
    padding: 10px;
}

.rendezes, .szures {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.atlageletkor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: larger;
    font-weight: bolder;
}

.kartyak {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.kartya {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    border: 1px solid rgb(57, 139, 221);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(57, 139, 221);
    transition: 0.3s;
}

.kartya-kep {
    flex: 0 1 auto;
}

.kartya:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}

.kartya-keret {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kartya-eletkor{
    font-size: large;
    font-weight: bold;
}

.kartya-elohely{
    font-style: italic;
}

button {
    color: rgb(57, 139, 221);
    border: 1px solid rgb(57, 139, 221);
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    color: white;
    background-color: rgb(57, 139, 221);
    border: 1px solid white;
}

footer {
    margin-bottom: 2%;
    text-align: center;
    border-top: 3px solid rgb(57, 139, 221);
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
}
